
* {box-sizing:border-box}
body{
    margin: 0px auto;
    max-width: 1000px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9ebee;
}
/*header*/
div#header{
    background-color: white;
    position: relative;
}
div#header ul {
    display: flex;
    padding-inline-start: unset;
    margin-block-end: unset;
    margin-block-start: unset;
}
div#header ul li {
    list-style: none;
    margin-top: .5%;
}
div#header ul li.image{
    position: absolute;
}
div#header ul li.title{
    margin: 1px auto;
}
h1{
    color: red;
    font-size: 25px;
    text-transform: uppercase;
}
.imgheader{
    width: 36%;
}
li.image{
    margin-top: 1%;
}
/*End--header*/

/*FOOTER*/
footer{
    margin-top: 15px;
    position: relative;
    width: 100%;
    bottom: 1px;
}
footer{
   padding: 1px 5px 2px 0 ;
}
footer p{
    margin-top: 8px;
 }
 footer{
    color: white;
    background-color:#0063cd;
}
/*end--footer*/
/*MAIN*/
div.nav{
    background-color: #0063cd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.nav > ul{
    
    list-style-type: none;
    display: flex;
}

div.nav >ul >li{
    min-width: 60px;
    text-align: center;
}
div.nav >ul >li>a{
    min-width: 100px;
    text-decoration: none;
    display: block;
    padding:.5rem 2rem .5rem 2rem ;
    color: white;
    font-size: 14px;

}
div.nav >ul >li>a:hover{
    color: white;
    background-color: rgb(58, 154, 233);
}
.submenu1{
  background-color: white;
  padding-inline-start: unset;
  list-style: none;
  position: absolute;
  display: none;
  border: 2px solid #0063cd;
}
.submenu1 li a{
  padding: 10px 5px;
  display: block;
  text-decoration: none;
  color:black;
  padding: 5px 45px;
}
.submenu1 li a:hover{
  background-color: #0063cd;
  color: white;
}
ul.left li:hover .submenu1{
  display: block;
  top: 97px;
  z-index: 100;
}
.submenu2{
  background-color: white;
  padding-inline-start: unset;
  list-style: none;
  position: absolute;
  display: none;
  border: 2px solid #0063cd;
}
.submenu2 li a{
  padding: 10px 5px;
  display: block;
  text-decoration: none;
  color:black;
  padding: 5px 45px;
}
.submenu2 li a:hover{
  background-color: #0063cd;
  color: white;
}
ul.left li:hover .submenu2{
  display: block;
  top: 97px;
  z-index: 100;
}
ul.left{
    float: left;
    margin-block-end: unset;
    margin-block-start: unset;
    padding-inline-start: unset;
  }
ul.right{
    float: right;
    margin-block-end: unset;
    margin-block-start: unset;
    padding-inline-start: unset;
}
div.clearfix{
    overflow: hidden;
}


.content-left{
  background-color: white;
  float: left;
  border-radius: 5px;

}
.content-right{
  background-color: white;
  border-radius: 5px;
  float: right;
  margin-block-end: unset;
  margin-block-start: unset;
  padding-inline-start: unset;
}
.content-clearfix{
  overflow: hidden;
}
.content-right ul{
  list-style: none;
  margin-block-end: 2rem;
  margin-block-start: unset;
  padding-inline-start: unset;
}
.content-left ul{
  list-style: none;
  margin-block-end: unset;
  margin-block-start: unset;
  padding-inline-start: unset;
}

ul.content li a{
  text-decoration: none;
  margin: 4px 4px;
}
.content{
  background-color: white;
  border-radius:5px ;
  width: 100%;
}
.content h1{
  margin: .5rem .5rem;
  padding-top: 1rem;
  font-size: 19px;
  color: #185dca;
}
.content h2{
  margin: .5rem .5rem;
  font-size:17px;
  color:#185dca
}
.calender{
  margin: .5rem .5rem;
  border-bottom: 1px solid #999999;
  color: #999999;
}

.main_content{
  width: 90%;
}
.main_content> p{
  margin: 2rem 1rem;
}
table p{
  margin: .5rem .5rem;
}
.main_content table{
  margin: 2px auto;
  border-spacing: 0px;
}
table tr td{
  border:1px solid black
}
.hr{
  border-bottom: 1px solid #999999 ;
  margin: 5px auto;
}
h4{
  * {box-sizing:border-box}
  body{
      margin: 0px auto;
      max-width: 1000px;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #e9ebee;
  }
  /*header*/
  div#header{
      background-color: white;
      position: relative;
  }
  div#header ul {
      display: flex;
      padding-inline-start: unset;
      margin-block-end: unset;
      margin-block-start: unset;
  }
  div#header ul li {
      list-style: none;
      margin-top: .5%;
  }
  div#header ul li.image{
      position: absolute;
  }
  div#header ul li.title{
      margin: 1px auto;
  }
  h1{
      color: red;
      font-size: 25px;
      text-transform: uppercase;
  }
  .imgheader{
      width: 36%;
  }
  li.image{
      margin-top: 1%;
  }
  /*End--header*/
  
  /*FOOTER*/
  footer{
      margin-top: 15px;
      position: relative;
      width: 100%;
      bottom: 1px;
  }
  footer{
     padding: 1px 5px 2px 0 ;
  }
  footer p{
      margin-top: 8px;
   }
   footer{
      color: white;
      background-color:#0063cd;
  }
  /*end--footer*/
  /*MAIN*/
  div.nav{
      background-color: #0063cd;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
  div.nav > ul{
      
      list-style-type: none;
      display: flex;
  }
  
  div.nav >ul >li{
      min-width: 60px;
      text-align: center;
  }
  div.nav >ul >li>a{
      min-width: 100px;
      text-decoration: none;
      display: block;
      padding:.5rem 2rem .5rem 2rem ;
      color: white;
      font-size: 14px;
  
  }
  div.nav >ul >li>a:hover{
      color: white;
      background-color: rgb(58, 154, 233);
  }
  .submenu1{
    background-color: white;
    padding-inline-start: unset;
    list-style: none;
    position: absolute;
    display: none;
    border: 2px solid #0063cd;
  }
  .submenu1 li a{
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    color:black;
    padding: 5px 45px;
  }
  .submenu1 li a:hover{
    background-color: #0063cd;
    color: white;
  }
  ul.left li:hover .submenu1{
    display: block;
    top: 97px;
    z-index: 100;
  }
  .submenu2{
    background-color: white;
    padding-inline-start: unset;
    list-style: none;
    position: absolute;
    display: none;
    border: 2px solid #0063cd;
  }
  .submenu2 li a{
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    color:black;
    padding: 5px 45px;
  }
  .submenu2 li a:hover{
    background-color: #0063cd;
    color: white;
  }
  ul.left li:hover .submenu2{
    display: block;
    top: 97px;
    z-index: 100;
  }
  ul.left{
      float: left;
      margin-block-end: unset;
      margin-block-start: unset;
      padding-inline-start: unset;
    }
  ul.right{
      float: right;
      margin-block-end: unset;
      margin-block-start: unset;
      padding-inline-start: unset;
  }
  div.clearfix{
      overflow: hidden;
  }
  
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    max-width: 1000px;
    margin:auto;
  }
  
  /* Hide the images by default */
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .content-left{
    background-color: white;
    float: left;
    border-radius: 5px;
    width: 68%;
  
  }
  .content-right{
    width: 30%;
    background-color: white;
    border-radius: 5px;
    float: right;
    margin-block-end: unset;
    margin-block-start: unset;
    padding-inline-start: unset;
  }
  .content-clearfix{
    overflow: hidden;
  }
  .content-right ul{
    list-style: none;
    margin-block-end: 2rem;
    margin-block-start: unset;
    padding-inline-start: unset;
  }
  .content-right ul li a{
    font-size: 12px;
    font-weight: normal;
  }
  .content-left ul{
    list-style: none;
    margin-block-end: unset;
    margin-block-start: unset;
    padding-inline-start: unset;
  }
  
  ul.content li a{
    text-decoration: none;
    margin: 4px 4px;
  }
  div.subtitle{
    margin: .5rem 2px;
    background: linear-gradient(45deg, #fff 0%, #fff 44%, #f1f3f2 100%);
    padding: 5px;
    border-radius: 3px;
  }
  div.subtitle a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  
  }
  div.subtitle a:visited{
    color: #f61b17;
  }
  div.subtitle a:hover{
    color: red;
  }
  div.subtitle a.notifi{
      color:#0063cd;
    }
  ul.content li{
    padding: 5px;
    margin: 0px auto;
  }
  ul.content a{
    font-weight: bold;
  }
  ul.content a:visited{
    color: #0072bc;
  }
  ul.content a:hover{
    color: red;
  }
  #anhhoatdong{
    margin-left: 10%;
    margin-right: 10%;
  }
  #title_anhhoatdong{
    text-align: center;
  }
  .notifi{
      color: #0063cd;
      font-size: 30px;
  }
  .content-left ul.content li{
      font-size: 17px;
  }
  .content-left .notifi{
      font-size: 20px;
  }
  div.video{
    margin: 5px auto;
    width: 90%;
    height: 100%;
  }
  div.video iframe{
    width: 100%;
    height: 100%;
  }
  /* SlideInUp*/
  .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 
    /*END--SlideInUp*/
    
  
  padding: 5px 5px 5px 5px;
  margin-block-end: .5em;
  margin-block-start: .5em;
}

.khac a:visited{
color: black;
}
.khac a:hover{
color: #0063cd;
}
.khac span{
display: block;
margin: .1rem;
}
